<title>Login</title>
{% if error %}
<p>{{ error }}</p>
{% endif %}
<form hx-post="/login"
      hx-target="main"
      class="form mx-auto mt-5 w-auto d-flex flex-column justify-content-center align-items-center">
    <label class="form-label mb-3">
        <input type="text" autofocus autocomplete="off" name="username" class="form-control" required/>
        Username
    </label>

    <label class="form-label">
        <input type="password" name="password" class="form-control" required>
        Password
    </label>
    <button type="submit" class="btn btn-primary btn-sm">Log In</button>
</form>

<div class="mt-3">
    <p class="text-center">No account? Register <a hx-get="/register" role="button" class="link-success" hx-target="main">here</a></p>
</div>