<title>Dashboard</title>
<section class="d-flex flex-column w-100 justify-content-center align-items-center p-4">
    <h3 class="fs-1 mt-4">Welcome {{ content.username }}</h3>

    <p class="mt-4">Want to start a new test?</p>
    <button hx-get="app/test/new" hx-target="main" class="btn btn-sm btn-outline-success mt-1">Create test</button>
</section>
<section class="d-flex flex-column w-100 justify-content-center align-items-center p-4">
    <h4 class="fs-5">Active tests:</h4>
    {% if content.last_five_tests %}
        <ul>
            {% for test in content.last_five_tests %}
                <li class="container list-group-item">
                    <div class="row pb-2">
                        <div class="col-8">{{ test.name }}</div>
                        <div class="col">{{ test.round }}/{{ test.total }}</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-6">{{ test.start_time }}</div>
                        <button class="col btn btn-success me-1" type="button" hx-get="app/test/{{ test.id }}" hx-target="main">Finish test</button>
                        {#                    TODO: removal of test#}
                        {#                    <button class="col" hx-delete="app/test/{{ test.id }}" hx-target="main">Delete test</button>#}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-center">No active tests</p>
    {% endif %}
</section>