<title>Tests</title>

<section class="d-flex flex-column align-items-center p-4">
    <p>Create a new test</p>
    <button hx-get="{{ url_for('test.create_test_page') }}" hx-target="main" type="button" class="btn btn-lg btn-success">New
        test
    </button>
</section>
<section class="d-flex flex-column align-items-stretch p-4">
    <p class="text-center">Browse through your old tests</p>
    {% if content.tests %}
        <ul class="list-group list-group-flush">
            {% for test in content.tests %}
                <li class="container list-group-item">
                    <div class="row pb-2">
                        <div class="col-8">{{ test.name }}</div>
                        <div class="col">{{ test.round }}/{{ test.total }}</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-6">{{ test.start_time }}</div>
                        {% if not test.finished %}
                            <button class="col btn btn-success me-1" hx-get="/app/test/{{ test.id }}" hx-target="main"
                                    type="button">Finish test
                            </button>
                            {#                        TODO: removal of test#}
                            {#                    <button class="col btn btn-danger" hx-delete="/app/test{{ test.id }}" hx-target="main" type="button">Delete test</button>#}
                        {% else %}
                            <button class="col-6 btn btn-info" hx-get="/app/test/{{ test.id }}/results" hx-target="main"
                                    type="button">Results
                            </button>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3 class="text-center">No tests to show yet</h3>
    {% endif %}
</section>